{% extends "layouts/base.html" %}
{% from "home/_formhelpers.html" import render_field %}

{% block title %} Добавление предмета {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Мобилизация</a></li>
              <li class="breadcrumb-item active" aria-current="page">Добавление предмета</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Редактирование предмета</h1>
              <p class="mb-0">Если предмет должен присутствовать в разных категориях - добавьте 2 предмета</p>
          </div>
<!--          <div>-->
<!--              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components-forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>-->
<!--          </div>-->
      </div>
  </div>

<form method="post" action="" class="form" method="post" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <!-- Категория -->
                          <div class="mb-4">
                              <label class="my-1 me-2" for="category">Категория</label>
                              {{ form.category(class='form-select', placeholder='Категория предмета') }}
                          </div>
                            <!-- name -->
                          <div class="mb-3">
                              <label for="name">Название</label>
                              {{ form.name(class='form-control') }}
                          </div>
                            <!-- цена -->
                          <div class="mb-3">
                              <label for="price">Примерная цена</label>
                              {{ form.price(class='form-control', placeholder='') }}
                          </div>
                          <div class="d-grid">
                              <button type="submit" name="addnewitem" class="btn btn-gray-800">Отправить</button>
                          </div>
                          <div class="d-grid">
                              <a href={{ url_for('home_blueprint.main') }} class="btn btn-secondary">
                                Отмена
                              </a>
                          </div>

                      </div>
                      <div class="col-lg-8 col-sm-6">
                          <div class="mb-4">
                              <label class="my-1 me-2" for="video_link">Ссылка на видео</label>
                              {{ form.video_link(class='form-control') }}
                          </div>

                            <!-- Описание -->
                          <div class="my-4">
                              <label for="textarea">Характеристики, описание</label>
                              {{ form.description(class='form-control', placeholder='Заполните характеристики и описание предмета', rows='5') }}
                          </div>
                          <div class="mb-3">
                              <label for="formFile" class="form-label">Выберите фото</label>
                              {{ form.photos(class='form-control') }}
                          </div>
                        <!-- Выбор текущего пользователя -->
                          <div class="row">
                              <div class="my-4">
                                  <span class="h6 fw-bold">Ваш выбор</span>
                              <div class="form-check form-switch">
                                    {{ form.inList(class='form-check-input', id='inList', data_bs_toggle="tooltip", data_bs_placement="top", title="Включить, чтобы включить в список") }}
                                  <label class="form-check-label">Включить в список</label>
                              </div>
                              <div class="form-check form-switch">
                                    {{ form.haveIt(class='form-check-input', id='haveIt', data_bs_toggle="tooltip", data_bs_placement="top", title="Включить, если  в наличии") }}
                                  <label class="form-check-label" >Есть в наличии</label>
                              </div>
                                <ul class="rate-area">
                                 {% for subfield in form.rating %}
                                        {{ subfield}} {{ subfield.label}}
                                {% endfor %}
                                </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</form>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
