{% extends "layouts/base.html" %}
{% from "home/_formhelpers.html" import render_field %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Мобилизация</a></li>
              <li class="breadcrumb-item active" aria-current="page">Добавление предмета</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Редактирование предмета</h1>
              <p class="mb-0">Создатель предмета может менять все поля, остальные - только часть</p>
          </div>
<!--          <div>-->
<!--              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components-forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>-->
<!--          </div>-->
      </div>
  </div>

<form method="post" action="" class="form" method="post" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-4 col-sm-6">
                          <!-- Категория -->
                          <div class="mb-4">
                              <label class="my-1 me-2" for="category">Категория</label>
                              {{ form.category(class='form-select', placeholder='Категория предмета', disabled=not owner) }}
                          </div>
                            <!-- name -->
                          <div class="mb-3">
                              <label for="name">Название</label>
                              {{ form.name(class='form-control', disabled=not owner) }}
                          </div>
                            <!-- цена -->
                          <div class="mb-3">
                              <label for="price">Примерная цена</label>
                              {{ form.price(class='form-control', placeholder='',  disabled=not owner) }}
                          </div>
                          <div class = "row">
                              <div class="d-grid">
                                  <button type="submit" name="Edititem" class="btn btn-gray-800">Обновить</button>
                                  <button name="Delete" class="btn btn-secondary">Удалить</button>
                                  <button name="Cancel" class="btn btn-secondary">Отмена</button>
                              </div>

                          </div>
                      </div>
                      <div class="col-lg-8 col-sm-6">
                            <!-- Описание -->
                          <div class="my-4">
                              <label for="textarea">Характеристики, описание</label>
                              {{ form.description(class='form-control', placeholder='Заполните характеристики и описание предмета',
                              disabled=not owner, rows='5') }}
                          </div>
                          <div class="mb-3">
                              <label for="formFile" class="form-label">Выберите фото</label>
                              {{ form.photos(class='form-control', disabled=not owner) }}
                          </div>
                        <!-- Выбор текущего пользователя -->
                          <div class="row">
                              <div class="my-4">
                                  <span class="h6 fw-bold">Ваш выбор</span>
                              <div class="form-check form-switch">
                                    {{ form.inList(class='form-check-input', id='inList', data_bs_toggle="tooltip", data_bs_placement="top", title="Включить, чтобы включить в список") }}
                                  <label class="form-check-label">Включить в список</label>
                              </div>
                              <div class="form-check form-switch">
                                    {{ form.haveIt(class='form-check-input', id='haveIt', data_bs_toggle="tooltip", data_bs_placement="top", title="Включить, если  в наличии") }}
                                  <label class="form-check-label" >Есть в наличии</label>
                              </div>
                                <ul class="rate-area">
                                 {% for subfield in form.rating %}
                                        {{ subfield}} {{ subfield.label}}
                                {% endfor %}
                                </ul>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</form>

  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                  </thead>
                  <tbody>
                    {% for photo in photos %}
                        {{ photo|safe }}
                    {% endfor %}
                  </tbody>
              </table>

          </div>
      </div>
  </div>

<!--      Теперь комментарии -->
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200 col-2">Пользователь</th>
                  <th class="border-gray-200 col-10">Комментарий</th>
              </tr>
          </thead>
          <tbody>
          <tr>
              <td>
                {{current_user.username}}
              </td>
              <td>
                <textarea rows="1" class="form-control" placeholder="Ваш коментарий..." id="newComment" name="newComment"
                          onkeydown="if(event.keyCode == 13) return onCommentChange({{ item_id}});" value=""></textarea>
            </td>
          </tr>
            {% for row in comments_data %}
                    <tr>
                        {% for cell_ in row %}
                            <td>
                                    {{ cell_|safe }}
                            </td>
                        {% endfor %}
                    </tr>
            {% endfor %}
          </tbody>
      </table>

      <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  {% for npage in range(pagesCount+1) %}
                    <li class="page-item {%if npage == currPage-1 %} active {% endif %}">
                     <a class="page-link" href="{{ url_for('home_blueprint.edititem', item_id=item_id, page=npage+1) }}" active>{{ npage+1 }} </a>
                  </li>
                  {% endfor %}
              </ul>
          </nav>
          <div class="fw-normal small mt-4 mt-lg-0">Показ <b>{{ currPage }}</b> из <b>{{ pagesCount+1 }} </b> страниц</div>
      </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
