{% extends "layouts/base.html" %}
{% from "home/_formhelpers.html" import render_field %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
              <li class="breadcrumb-item">
                  <a href="#">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
              </li>
              <li class="breadcrumb-item"><a href="#">Мобилизация</a></li>
              <li class="breadcrumb-item active" aria-current="page">Редактирование статьи</li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Редактирование статьи</h1>
          </div>
<!--          <div>-->
<!--              <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components-forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>-->
<!--          </div>-->
      </div>
  </div>

<form method="post" action="" class="form" method="post" role="form" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">     
                  <div class="row mb-4">
                      <div class="col-lg-12 col-sm-6">
                          <!-- тема -->
                          <div class="mb-4">
                              <label class="my-1 me-2 text-wrap" >Тема статьи</label>
                              {% if owner %}
                                  {{ form.title(class='form-control',  disabled=not owner) }}
                              {% else %}
                              <H4>
                                  {{ form.title.data|safe }}
                              </H4>
                              {% endif %}

                          </div>
                          <div class="mb-4">
                              <label class="my-1 me-2" for="video_link">Ссылка на видео</label>
                              {% if owner %}
                                  {{ form.video_link(class='form-control',  disabled=not owner) }}
                              {% else %}
                              <H6>
                                  {{ form.video_link.data|safe }}
                              </H6>
                              {% endif %}
                          </div>
                          {% if video_link %}
                          <div class="container">
                              <div class="row justify-content-md-center">
                                <div class="card border-1 shadow mb-4 col-md-auto">
                                    <div class="card-body ">
                                        <div class="embed-responsive embed-responsive-16by9 d-flex justify-content-center">
                                            <iframe width="700" height="394" src="https://www.youtube.com/embed/{{ video_link }}"  title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </div>
                          {% endif%}
                          <div class="mb-4">
                              {% if owner %}
                                  <label class="my-1 me-2" for="body">Статья</label>
                                  {{ form.body(disabled=not owner) }}
                              {% else %}
                              <div>
                                  {{ form.body.data|safe }}
                              </div>
                              {% endif %}
                          </div>

                        <!-- Выбор текущего пользователя -->
                          {% if owner %}
                          <div class="mb-3">
                              <label for="photos" class="form-label">Выберите фото для статьи</label>
                              {{ form.photos(class='form-control', disabled=not owner) }}
                          </div>
                          {% endif %}
                          {% if changeRating %}
                              <div class="row">
                                      <span class="h6 fw-bold">Ваша оценка</span>
                                  <div class="my-0">
                                        <ul class="rate-area">
                                         {% for subfield in form.rating %}
                                                {{ subfield}} {{ subfield.label}}
                                        {% endfor %}
                                        </ul>
                                  </div>
                              </div>
                          {% endif %}
                      </div>
                  <div class="row">
                          <div class="d-grid col-lg-3">
                              <button type="submit" name="editarticle" class="btn btn-gray-800">Сохранить</button>
                          </div>
                      {% if owner %}
                          <div class="d-grid col-lg-3">
                              <button name="Delete" class="btn btn-secondary">Удалить</button>
                          </div>
                      {% endif %}
                      <div class="d-grid col-lg-3">
                          <a href={{ url_for('home_blueprint.articlesMain') }} class="btn btn-secondary">
                            Отмена
                          </a>
                      </div>

                  </div>

                  </div>
              </div>
          </div>
      </div>
  </div>

</form>
  <div class="card border-0 shadow mb-4">
      <div class="card-body">
          <div class="table-responsive">
              <table class="table table-centered table-nowrap mb-0 rounded">
                  <thead class="thead-light">
                  </thead>
                  <tbody>
                    {% for photo in photos %}
                        {{ photo|safe }}
                    {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
  </div>

<!--      Теперь комментарии -->
  <div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200 col-2">Пользователь</th>
                  <th class="border-gray-200 col-10">Комментарий</th>
              </tr>
          </thead>
          <tbody>
          {% if changeRating %}
          <tr>
              <td>
                {{current_user.username}}
              </td>
              <td>
                <textarea rows="1" class="form-control" placeholder="Ваш коментарий..." id="newArticleComment" name="newComment"
                          onkeydown="if(event.keyCode == 13) return onArticleCommentChange({{ article_id}});" value=""></textarea>
            </td>
          </tr>
          {% endif %}
            {% for row in comments_data %}
                    <tr>
                        {% for cell_ in row %}
                            <td>
                                    {{ cell_|safe }}
                            </td>
                        {% endfor %}
                    </tr>
            {% endfor %}
          </tbody>
      </table>

      <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  {% for npage in range(pagesCount) %}
                    <li class="page-item {%if npage == currPage-1 %} active {% endif %}">
                     <a class="page-link" href="{{ url_for('home_blueprint.editarticle', article_id=article_id, page=npage+1) }}" active>{{ npage+1 }} </a>
                  </li>
                  {% endfor %}
              </ul>
          </nav>
          <div class="fw-normal small mt-4 mt-lg-0">Показ <b>{{ currPage }}</b> из <b>{{ pagesCount }} </b> страниц</div>
      </div>
  </div>


{{ ckeditor.load() }}
{{ ckeditor.config(name='body', height=400, file_uploader = '/upload') }}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
