{% extends "layouts/base.html" %}

{% block title %} Форум {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent" itemscope itemtype="https://schema.org/BreadcrumbList">
              <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                  <a  itemprop="item"  href="{{ url_for('home_blueprint.index') }}">
                      <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </a>
                  <meta itemprop="position" content="1" />
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                  <span itemprop="name">Форум</span>
                  <meta itemprop="position" content="2" />
              </li>
          </ol>
      </nav>
      <div class="d-flex justify-content-between w-100 flex-wrap">
          <div class="mb-3 mb-lg-0">
              <h1 class="h4">Разделы форума</h1>
              <p class="mb-0">Выберите раздел форума для отслеживания</p>
          </div>
      </div>
  </div>

  <div class="card border-0 shadow">
      <div class="card-body">
          <p class="table-responsive">
              <table class="table table-hover border-1 table-responsive-lg table-centered table-wrap mb-0 rounded">
                  <thead class="thead-light">
                      <tr>
                          <th class="rounded-start "></th>
                          <th >Тема</th>
                          <th >Топиков</th>
                          <th >Постов</th>
                          <th class="rounded-end">Последний пост</th>
                      </tr>
                  </thead>
                  <tbody>
                      <!-- Item -->
                      {% for row in row_data %}
                      <tr>
                            <td class="col-1">
                                <figure class="figure">
                                    {{ row[1]|safe }}
                                </figure>
                            </td>
                            <td class="align-middle">
                                <p>{{ row[2]|safe }}</p>
                            </td>
                          <td class="align-middle">
                              <p>{{ row[3]|safe }}</p>
                          </td>
                          <td class="align-middle">
                                   <p>{{ row[4]|safe }}</p>
                          </td>
                          <td class="col-4">
                              {% if row[7]|string!='nan'   %}
                                  <p>{{ row[7]}}</p>
                                  <span class="font-small"><span class="fw-bold">{{row[5]|safe}}</span><br>
                              {% endif %}
                              {% if row[6]|string!='NaT' and row[6]|string !='nan' %}
                                  <span class="fw-normal text-gray-300 ms-2">{{ moment(row[6]).format('LLL') }}</span>
                              {% endif %}
                          </td>
                      </tr>
                      {% endfor %}

                  </tbody>
              </table>
          </div>
      </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
